body {
        background-image: url(tc.png);
        background-repeat: repeat-y;
        background-size: 130px;
        background-color: white;



}

.btn {
        display: inline-block;
        margin-left: 725px;
        margin-bottom: 500px;

}

.img {
        text-align: center;
        width: 1500px;
        height: 5px;
}

.img1 {
        text-align: center;
        width: 1500px;
        height: 10px;
        margin-top: 50px;
}

h1 {
        color: rgb(81, 7, 185);
        text-align: center;
}

h4 {
        color: rgb(81, 7, 185);
        text-align: center;
}


h3 {
        color: rgb(81, 7, 185);
        text-align: center;
}

.p3 {
        color: rgb(81, 7, 185);
        text-align: center;
}

p {
        text-align: center;
        color: rgb(81, 7, 185);
}

#send {
        display: inline-flex;
        margin-left: 700px;
        margin-bottom: 450px;
}

footer {
        text-align: center;
        color: rgb(50, 4, 113);
}