:root {
        --fontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
        width: 100%;
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgb(17, 201, 207) 70%);

}

h1 {
        color: rgb(75, 75, 75);
        text-align: center;
        font-family: var(--fontFamily);
        font-size: 2rem;
        justify-content: center;
        margin-top: 40px;
}

.btn {
        display: flex;
        justify-content: center;
        align-items: center;
}


.btn button {
        border-radius: 5px 5px 5px 5px;
        background-color: rgb(75, 75, 75);
        color: rgb(251, 251, 251);
        width: 70px;
        height: 30px;
        font-size: 1em;
}

.btn button:hover {
        background-color: rgb(106, 122, 123);
}

.conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
}

img {
        width: 23em;
        height: 18em;
}

footer {
        text-align: center;
        color: rgb(75, 75, 75);
        margin-top: 1em;
        font-family: var(--fontFamily);

}

a {
        text-align: center;
        color: rgb(75, 75, 75);
        font-family: var(--fontFamily);
}
