:root {
    --fontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --textAlign: center;
    --firstColor: rgb(75, 75, 75);
}

body {
    width: 100%;
    background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgb(17, 201, 207) 70%);

}

h1 {
    color: rgb(71, 194, 196);
    text-align: var(--textAlign);
    font-family: var(--fontFamily);
    
}

#send {
    display: inline-flex;
    background-color: rgb(71, 194, 196);
    border: 0px;
    padding: 1vh 1vw 1vh 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1vh;
    font-size: 1em;
    color: var(--firstColor);
    margin-bottom: 20px;

}

#send:hover {
    background-color: rgba(74, 240, 242, 1);
    color: rgb(241, 238, 244);
}

a {
    text-align: var(--textAlign);
    color: rgb(71, 194, 196);
    font-family: var(--fontFamily);
}


footer {
    text-align: center;
    color: rgb(71, 194, 196);
    margin-top: 20px;
    font-family: var(--fontFamily);
}

.main-conteiner {
    background: rgb(17, 201, 207);
    width: 40%;
    height: 50%;
    justify-content: center;
    margin-left: 450px;
    text-align: var(--textAlign);
    border-radius: 20px 20px 20px 20px;
}

.form {
    font-family: var(--fontFamily);
    color: var(--firstColor);
}

.form_input,
.type-month,
.type-year {
    border-radius: 10px 10px 10px 10px;
    display: inline-flex;
    border: 0px;
    padding: 1vh 1vw 1vh 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1vh;
    font-size: 1em;
    text-align: center;
}


.logos {
    width: 20%;
    height: 5%;
    margin-right: 500px;
}
.type-month,
.type-year {
    color: var(--firstColor);
}


@media screen and (max-width: 1050px) {
    .main-conteiner{
     margin-left: 19rem;
      
    }
}