:root {
        --fontColor: rgb(255, 255, 255);
        --fontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
        width: 100%;
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, rgb(17, 201, 207) 70%);

}

h1 {
        color: rgb(75, 75, 75);
        text-align: center;
        font-family: var(--fontFamily);
        font-size: 2rem;
        justify-content: center;
        margin-top: 20px;
}

.btn {
        display: flex;
        justify-content: center;
        align-items: center;
}


.btn button {
        border-radius: 5px 5px 5px 5px;
        background-color: rgb(17, 201, 207);
        color:  rgb(75, 75, 75);
        border: rgb(17, 201, 207);
        width: 70px;
        height: 30px;
        font-size: 1em;
}

.btn button:hover{
        background-color: rgba(74, 240, 242, 1);
}

.conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
}
img{
        width: 23em;
        height: 18em;
}

footer {
        text-align: center;
        color:rgb(75, 75, 75);
        margin-top: 1em;
        font-family: var(--fontFamily);

}

a {
        text-align: var(--textAlign);
        color:rgb(75, 75, 75);
        font-family: var(--fontFamily);
}

/* @media screen and (max-min-width:600px) {

        footer {
                margin-top: 10em;
        }
}

@media screen and (min-width: 970px) {

        h3,
        h1 {
                margin-left: 14rem;
        }

        .p3 {
                margin-left: 14rem;
        }

        footer {
                margin-left: 10em;
        }

        h4 {
                margin-left: 12rem;
        }

        .btn {
                margin-left: 30em;
        }
}

@media screen and (min-width: 1200px) {

        h1 {
                margin-left: 11rem;
        }

        .h3,
        h1 {
                margin-left: 15rem;
        }

        .p3 {
                margin-left: 18rem;
        }

        footer {
                margin-left: 1em;
        }

        .h4 {
                margin-left: 11rem;
        }

        .btn {
                margin-left: 45em;
        }
} */