body {
        background-image: url(tc.png);
        background-repeat: repeat-y;
        background-size: 100px;
        background-color: rgb(60, 0, 255)
                }
        
.btn {
        display: inline-block;
        margin-left: 700px;
        margin-bottom: 1000px;
        padding: 25px;
         }

.img {
        text-align:center;
        width: 1500px;
        height: 200px;
                }
.img1 {
        text-align:right;
        width: 1500px;
        height: 200px;
                                }
h1 {
  color: white;
  text-align: center;
  }

h4 {
   color:  white;
   text-align: center;
           }


h3 {
        color:  white;
        text-align: center;
       }

.p3 {
        color:  white;
        text-align: center;
       }
p{
    text-align: center;
    color: white;
       }
#send {
        display:inline-flex;
        margin-left: 700px;
        margin-bottom: 1000px;
             
         
           }

